.container {
  text-align: center;
}

.Navlinks {
  height: 60px;
  background-color: hsl(202, 100%, 37%);
  color: white;
  text-decoration: none;
}

.link {
  color: inherit;
}

.link.active{
    color: #000;
    text-decoration: underline;
}